<div class="news-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2 class="fs-1">Yangiliklar va <em>Maqolalar</em></h2>
                    <span class="fs-6">Maktabimiz haqidagi so'nggi yangiliklardan xabardor bo'ling</span>
                </div>
            </div>
            {{#if news}}
                {{#each news}}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body blog-card">
                            <div class="img-container">
                                <img class="img-fluid" src="{{this.image_url}}" alt="{{this.title}}">
                            </div>
                            <div class="down-content">
                                <p class="fs-6 mt-3 text-secondary"><i class="fa-solid fa-calendar-days"></i> {{parseDate this.createdAt}}</p>
                                <a href="/news/#blog-{{this._id}}">
                                    <h4 class="my-3 text-default fw-bold">{{shortArticleTitle this.title}}</h4>
                                </a>
                                <p class="text-style fst-italic text-secondary">{{shortArticle this.description }}</p>
                            </div>
                        </div>
                        <div class="card-footer py-3">
                            <a href="/news/#blog-{{this._id}}" class="filled-button">Ko'proq o'qish</a>
                        </div>
                    </div>
                </div>
                {{/each}}
               
               {{else}}
                  <div class="alert alert-success">Hozircha yangiliklar mavjud emas</div>
            {{/if}}
        </div>
    </div>
</div>